body {
    background-color: hsl(216, 12%, 8%)
}

.box {
    background: linear-gradient(hsl(213, 19%, 18%), hsl(216, 12%, 8%));
    border-radius: 10%;
    margin: 180px auto;
    width: 600px;
    height: 580px;
}

#star {
    position: absolute;
    padding: 50px 0px 0px 40px;
    margin: 30px 0px 0px 30px;
    width: 20px;
    height: 20px;
}

#space-circle {
    padding-top: 60px;
}

#circle {
    margin-left: 50px;
    margin-bottom: 50px;
    background-color: hsl(0, 0%, 100%);
    width: 60px;
    height: 60px;
    border-radius: 100%;
    opacity: 5%;
}

#title {
    text-align: left;
    font-weight: bold;
    padding-left: 40px;
    margin-bottom: 20px;
    color: white;
    font-size: 30px;
    font-family: 'Overpass', sans-serif;
}

#sub-title {
    text-align: left;
    padding-left: 40px;
    margin-bottom: 30px;
    width: 500px;
    color: hsl(216, 12%, 54%);
    font-size: 20px;
    font-family: 'Overpass', sans-serif;
    letter-spacing: 1px;
    line-height: 25px;
}

.grades {
    margin-top: 50px;
    margin-bottom: 70px;
    text-align: center;
    
}

input[type="radio"] {
    display: none;
}

.grades input[type="radio"]+label {
    color: hsl(217, 12%, 63%);;
    font-family: 'Overpass', sans-serif;
    font-weight: bold;
    padding: 24px 30px;
    margin: 20px;
    background-color: hsl(0, 0%, 100%, 5%);
    border-radius: 100%;
    transition: 0.3s;
}

input[type="radio"]:checked+label {
    background-color: hsl(25, 97%, 53%);
    color: white;
}

.grades input[type="radio"]+label:hover {
    color: white;
    background-color: hsl(217, 12%, 63%);
}

label {
    cursor: pointer;
}

.align-send {
    text-align: center;
}

.send {
    text-align: center;
    width: 80%;
    border: none;
    font-family: 'Overpass', sans-serif;
    font-size: 20px;
    color: white;
    background-color: hsl(25, 97%, 53%);
    padding: 15px 0;
    border-radius: 30px;
    letter-spacing: 3px;
    font-weight: bold;
    transition: 0.2s;
    cursor: pointer;
}

.send:hover {
    background-color: white;
    color: hsl(25, 97%, 53%);
}

/* Modificações da página de "Thank You" */

#results-image {
    display: inline-block;
    position: relative;
    width: 40%;
    top: 80px;
    left: 160px; 
}

#results-text {
    display: inline-block;
    position: relative;
    top: 140px;
    right: 80px;
    color: hsl(25, 97%, 53%);
    font-family: 'Overpass', sans-serif;
    font-size: 20px;
    background-color: hsl(0, 0%, 100%, 5%);
    padding: 15px 20px;
    border-radius: 50px;
}

.ty-text {
    display: block;
    position: relative;
    top: 190px;
    text-align: center;
}

#ty-title {
    position: relative;
    width: 510px;
    left: 210px;
    text-align: left;
    margin-bottom: 30px;
    color: white;
    font-family: 'Overpass', sans-serif;
    font-size: 30px;
    font-weight: bold;  
}

#ty-subtitle {
    position: relative;
    left: 40px;
    width: 510px;
    font-size: 20px;
    color: hsl(216, 12%, 54%);
    font-family: 'Overpass', sans-serif;
    padding-left: 0px;
    letter-spacing: 1px;
    line-height: 25px;
}



